body
{
background-image: url(../images/diamond.png);
margin:0;
background-color: #16B0E3;
background-position: bottom;
}
header
{
background-color: #00000099;
width: 100vw;
} 
h1{
	font-family: 'Anton', Arial, Helvetica, sans-serif;
	color: aqua;
	font-size: 15rem;
}
#logo { width: 20vw; display:block; margin:auto; } 
.photos{ width: 9vw;
margin: 1%;

}
.members
{
	display: flex;
	
  	
font-weight: bold;
background-color: #ffffff99;
border: 0.2vw solid white;
margin:1vw;
margin-left: 5vw;
margin-right: 5vw;
}
.photos{
	width: 12vw;
}
#pause
{
	display: none;
}
#play{
	width: 1.5vw;

}




/* version mobile*/



@media screen and (max-width: 600px) {

#logo{
	width: 25vw;
	height: 25vw;
}
h1{
	font-size: 2.5rem;
}


.members{

	height: 50vw;
	border: 0.5vw solid white;
}
.members p{
	font-size: 3.5vw;
	

}
.members h2{
	font-size: 6vw;
	margin: 1vw;
}
.photos{
	width: 15vw;
	height: 15vw;

}
#pause
{
	display: none;
}
#play{
	width: 5vw;

}
}
